#root{
    background-color: #c8ced350;
    height:2000px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    box-sizing: border-box;

}

#header {
    width: calc(100% - 500px);
    position: absolute;
    left: 250px;
    background-color: #1a6f0b;
    height: 50px;
    line-height: 3;
    box-sizing: border-box;

    .form-header {
        display: flex;
        justify-content: space-around;
        
        a {
            text-decoration: none;
            color: black;
        }
    }
}
#footer {
    width: calc(100% - 500px);
    position: absolute;
    left: 250px;
    bottom: 0;
    box-sizing: border-box;
    
    img {
        width: 100%;
        height: 200px;
        
    }
}