#home {
    background-color: #fff;
    width: calc(100% - 50px);
    left: 25px;
    position: absolute;
    border-radius: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 50px;
    margin-bottom: 50px;
    
    .form {
        width: 402px;

        a {
            text-decoration: none;
            color: black;
        }
    }
    .new {
        margin: 0 auto;
        text-align: center;
        height: 40px;
        position: absolute;
        top:0;
        width: 110px;
        right: 0;

        Button {
            height: 40px;
            font-size: 16px;
            border: 0;
            background: rgb(96, 96, 240);
        }
    }
}
